body {
    background: linear-gradient(to bottom right, #302e2e, #919090);
}

h1 {
    color: #FFFFFF;
    font-weight: 500;
}


.wrap {
    width: 400px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 30%;
    margin-left: -200px;
    margin-top: -100px;
    text-align: center;
    /* border: 1px solid #00F */
}

.wrap input {
    font-size: 16px;
    color: #50a3a2;
    width: 200px;
    /* padding: 0px 0px ; */
    line-height: 30px;
    margin: 12px auto;
}

.wrap input:focus {
    width: 220px;
}

.wrap input[type='submit'] {
    font-size: 16px;
    letter-spacing: 3px;
    color: #666666;
    background: #FFFFFF;
    width: 205px;
}

.text {
    color: #e2dfe4;
}

.to_login {
    color: #a7c4c9;
}

.bubble ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -20;
}

.bubble ul li {
    list-style-type: none;
    display: block;
    position: absolute;
    bottom: -120px;
    z-index: -8;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.15);
    /* box-shadow: inset -30px -30px 75px rgba(0, 0, 0, .2); */
    animotion: square 25s infinite;
    -webkit-animation: square 25s infinite;
}

.bubble ul li:nth-child(1) {
    width: 15px;
    height: 15px;
    left: 0;
    animation-duration: 10s;
    -moz-animation-duration: 10s;
    -o-animation-duration: 10s;
    -webkit-animation-duration: 10s;
}

.bubble ul li:nth-child(2) {
    width: 40px;
    height: 40px;
    left: 10%;
    animation-duration: 15s;
    -moz-animation-duration: 15s;
    -o-animation-duration: 15s;
    -webkit-animation-duration: 11s;
}

.bubble ul li:nth-child(3) {
    left: 20%;
    width: 25px;
    height: 25px;
    animation-duration: 12s;
    -moz-animation-duration: 12s;
    -o-animation-duration: 12s;
    -webkit-animation-duration: 12s;
}

.bubble ul li:nth-child(4) {
    width: 50px;
    height: 50px;
    left: 30%;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-delay: 3s;
    animation-duration: 12s;
    -moz-animation-duration: 12s;
    -o-animation-duration: 12s;
    -webkit-animation-duration: 12s;
}

.bubble ul li:nth-child(5) {
    width: 60px;
    height: 60px;
    left: 40%;
    animation-duration: 10s;
    -moz-animation-duration: 10s;
    -o-animation-duration: 10s;
    -webkit-animation-duration: 10s;
}

.bubble ul li:nth-child(6) {
    width: 75px;
    height: 75px;
    left: 50%;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    -o-animation-delay: 7s;
    animation-delay: 7s;
}

.bubble ul li:nth-child(7) {
    left: 60%;
    width: 30px;
    height: 30px;
    animation-duration: 8s;
    -moz-animation-duration: 8s;
    -o-animation-duration: 8s;
    -webkit-animation-duration: 8s;
}

.bubble ul li:nth-child(8) {
    width: 90px;
    height: 90px;
    left: 70%;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    -o-animation-delay: 4s;
    animation-delay: 4s;
}

.bubble ul li:nth-child(9) {
    width: 50px;
    height: 50px;
    left: 80%;
    animation-duration: 20s;
    -moz-animation-duration: 20s;
    -o-animation-duration: 20s;
    -webkit-animation-duration: 20s;
}

.bubble ul li:nth-child(10) {
    width: 75px;
    height: 75px;
    left: 90%;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    -o-animation-delay: 6s;
    animation-delay: 6s;
    animation-duration: 30s;
    -moz-animation-duration: 30s;
    -o-animation-duration: 30s;
    -webkit-animation-duration: 30s;
}


@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        bottom: 800px;
        -webkit-transform: translateY(-500);
        transform: translateY(-500)
    }
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    100% {
        bottom: 400px;
        -webkit-transform: translateY(-500);
        transform: translateY(-500)
    }
}